.state-planned-bg {
  background-color: #616161;
}

.state-progress-bg {
  background-color: #448aff;
}

.state-completed-bg {
  background-color: #00bfa5;
}

.darker-bg {
  background-color: #2b2b2b;
}

.state-planned {
  color: #616161;
}

.state-progress {
  color: #448aff;
}

.state-completed {
  color: #00bfa5;
}

.dark-text {
  color: rgba(0, 0, 0, 0.87);
}
